@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&display=swap');
        
body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
    box-sizing: content-box;
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: minmax(auto, auto);
    height: 100vh;
}
.loader{
    display: flex;
    width: 0px;
    opacity: 0;
    height: 100vh;
    justify-content: center;
    background-color: #1d252c;
    align-items: center;
    position: absolute;
    z-index: 2;
    animation: faded 5s linear;
    will-change: width, opacity;
    
}
.loader__container{
    display: flex;
}
.loader__one, .loader__two{
    font-size: 40px;
    box-sizing: border-box;
    color: white;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke: 1px rgb(197, 168, 0);
}
.loader__one{
    will-change: transform, opacity;
    opacity: 0;
    animation: loader-one 4.3s linear ;
}
.loader__two{
    width: 0em;
    overflow: hidden;
    animation: loader-two 1.5s 2.2s linear  reverse;
    will-change: width;
}
.container__hero{
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "header header"
                         "sidebar content";
    
}
.header{
    position: fixed;
    width: 100%;
    height: 83px;
    z-index: 100;
    background: #1d252c;
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-areas: "logo search search user";
    box-shadow: 0px 1px 7px 3px #000000e3;
}
.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 90px 90px 90px 1fr;
    border-top: 2px solid #b1afaf;
    background: #1d252c;
    text-align: center;
    align-items: end;

}
.content{
    grid-area: content;
    padding: 0px 5px;
    width: 165vh;
    padding-bottom: 30px;
}
.logo{
   grid-area: logo;
    
}
.logo h1{
    margin: 0px 15px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke: 1px rgb(197, 168, 0);
}
.header__search{
    grid-area: search;
}
.header__search--input{
    width: 100%;
    height: 20px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #1d252c;
    outline: 0;
}
.user{
    grid-area: user;
    display: flex;
    align-items: center;
    justify-content: end;
}
.user__name{
    color: white;
}
.user__img{
    margin: 0px 10px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 2px solid gainsboro;
}
.sidebar a svg{
    max-height: 30px;
}
.sidebar a p{
    -webkit-text-stroke: 0.8px black;
    font-size: 15px;
    margin: 0px;

}
.nav__link{
    color: white;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}
.nav__link:hover{
    color: goldenrod;
}
aside .nav__link:last-child{
    padding-bottom: 25px;
}
.content__side{
    display: flex;
    margin-top: 20px;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    overflow: hidden;
    position: relative;
    padding-left: 20px;
}
/* .content__side::-webkit-scrollbar {
    -webkit-appearance: none;
}
.content__side::-webkit-scrollbar:horizontal {
    height: 10px;
}

.content__side::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
    transition: all 0.5s;
}

.content__side::-webkit-scrollbar-track {
    border-radius: 10px;  
} */
html::-webkit-scrollbar {
    -webkit-appearance: none;
}
html::-webkit-scrollbar:horizontal {
    height: 10px;
}
html::-webkit-scrollbar:vertical {
    width: 3px;
}

html::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 0px solid #f1f2f3;
    transition: all 0.5s;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.content__side::after{
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
    will-change: opacity;
    pointer-events: none;
}
.content__side::-webkit-scrollbar-thumb:hover{
    visibility: visible;
    background-color: red;
}

.content__side--movies{
    display: flex;
    grid-auto-flow: column;

    justify-content: start;
    
}
.content__main{
    padding-top: 10px;
}
.content__title{
    padding: 0px 2vh;
    margin: 10px 0px;
}
.content__text{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: left;
    padding: 5px 10px;
    color: white;
    background: #060606e6;
    font-family: system-ui;
    font-weight: 400;
    opacity: 0;
    transition: 0.5s;
    will-change: opacity;
    height: 165px;
}
.content__interaction{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: end;
    top: -5px;
    right: -10px;
}
.content__interaction--like{
    width: 70px;
    height: 70px;
    background: url('https://raw.githubusercontent.com/livebloggerofficial/Twitter-Like-Animation/main/images/heart.png');
    background-size: cover;
    cursor: pointer;
}
.content__interaction--like.liked{
    animation: like .8s steps(28) forwards;
}
.content__interaction--like:hover{
    color: red;
}
.content__text h2,.content__text h4 {
    margin: 5px 0px;
    
}

.post{
    position: relative;
    margin-right: 25px;
    transform-origin: center;
    transition: 0.8s;
}
.post__image{
    margin: 0px;
    
}
.post__image img{
    height: 420px;
    vertical-align: top;
    width: 300px;
}
.post:hover .content__text{
    opacity: 1;
}
.post:hover{
    transform: scale(1.05);
}

@keyframes loader-one{
    0%{
        opacity: 1;
        transform: translateY(-3000px);
    }
    30%{
        transform: translateY(20px);
    }
    35%{
        transform: translateY(-10px);
    }
    40%{
        transform: translateY(0px);
    }
    95%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-30000px);
    }
}@keyframes faded{
    0%{
        opacity: 1;
        width: 100%;
    }
    80%{
        opacity: 1;
        
    }
    99%{
        width: 100%;
    }
    100%{
        opacity: 0;
        width: 0px;
    }
}
@keyframes loader-two{
    0%{
        width: 0em;
    }
    10%{
        width: 6em;
    }
    90%{
        width: 6em;
    }
    100%{
        width: 0em;
    }
}
@keyframes like {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: right;
    }
}

@media screen and (max-width: 768px) {
    .content__side--movies{
        grid-gap: 10px;
        grid-auto-flow: row;
        justify-content: center;
    }
    .content__title{
        padding: 0px 1vh;
        margin: 10px 0px;
    }
    .container__hero{
        grid-template-columns:  1fr;
        grid-template-rows:  auto;
        grid-template-areas: "header header"
                             "sidebar sidebar"
                             "content content";
    }
    .sidebar{
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        border-top: 2px solid #b1afaf;
        background: #1d252c;
        text-align: center;
        align-items: center;
        height: 60px;

    }
    aside .nav__link:last-child{
        padding-bottom: 0px;
    }
    .container__hero{
        grid-template-rows: auto auto auto;
    }
    .header{
        grid-template-areas: "logo user"
                             "search search";
    }
    .header__search--input{
        width: 95%;
    }
    
}