@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&display=swap');
        
body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: minmax(auto, auto);
    height: 100vh;
}
.container__hero{
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "header header"
                         "sidebar content";
    
}
.header{
    box-shadow: 0px 2px 10px 5px #a9a7a7;
    background: #1d252c;
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-areas: "logo search search user";
}
.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 90px 90px 90px 1fr;
    border-top: 2px solid #b1afaf;
    background: #1d252c;
    text-align: center;
    align-items: end;

}
.content{
    grid-area: content;
    padding: 0px 5px;
}
.logo{
   grid-area: logo;
    
}
.logo h1{
    margin: 0px 15px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke: 1px rgb(197, 168, 0);
}
.header__search{
    grid-area: search;
}
.header__search--input{
    width: 100%;
    height: 20px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #1d252c;
    outline: 0;
}
.user{
    grid-area: user;
    display: flex;
    align-items: center;
    justify-content: end;
}
.user__name{
    color: white;
}
.user__img{
    margin: 0px 10px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 2px solid gainsboro;
}
.sidebar a svg{
    max-height: 30px;
}
.sidebar a p{
    -webkit-text-stroke: 0.8px black;
    font-size: 15px;
    margin: 0px;

}
.nav__link{
    color: white;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}
.nav__link:hover{
    color: goldenrod;
}
aside .nav__link:last-child{
    padding-bottom: 25px;
}
.content__side{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, 380px);
    justify-content: center;
    grid-gap: 30px ;
    margin-top: 20px;
}
.content__main{
    padding-top: 10px;
}
.content__title{
    padding: 0px 10vh;
    margin: 10px 0px;
}
.content__text{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: left;
    padding: 5px 10px;
    color: white;
    background: #060606e6;
    font-family: system-ui;
    font-weight: 400;
    opacity: 0;
    transition: 0.5s;
    will-change: opacity;
}
.content__text h2,.content__text h4 {
    margin: 5px 0px;
    
}
.content__text h4{
    font-size: 12px;
}
.post{
    position: relative;
}
.post__image{
    margin: 0px;
}
.post__image img{
    width: 100%;
    height: 185px;
    vertical-align: top;
}
.post:hover .content__text{
    opacity: 1;
}
.post:hover{
    animation: lops 2s linear infinite alternate;
}
@keyframes lops {
    0%{
        transform: scale(1.0);
    }
    20%{
        transform: scale(1.05);
    }
    40%{
        transform: scale(1.0);
    }
    60%{
        transform: scale(1.05);
    }
    80%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.05);
    }
}
@media screen and (max-width: 768px) {
    .content__side{
        grid-gap: 10px;
        grid-auto-flow: row;
    }
    .content__title{
        padding: 0px 1vh;
        margin: 10px 0px;
    }
    .container__hero{
        grid-template-columns:  1fr;
        grid-template-rows:  auto;
        grid-template-areas: "header header"
                             "sidebar sidebar"
                             "content content";
    }
    .sidebar{
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        border-top: 2px solid #b1afaf;
        background: #1d252c;
        text-align: center;
        align-items: center;
        height: 60px;

    }
    aside .nav__link:last-child{
        padding-bottom: 0px;
    }
    .container__hero{
        grid-template-rows: auto auto auto;
    }
    .header{
        grid-template-areas: "logo user"
                             "search search";
    }
    .header__search--input{
        width: 95%;
    }
    
}